.github {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1000px;
  padding: 30px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  background-color: #fff;
}

// begin github-header
.github-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d5da;
  .row {
    justify-content: center;
  }
}
.github-header__ava {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50%;
  img {
    display: block;
    flex: none;
    width: 100%;
  }
}
// end github-header

// begin github-filter
.github-filter {
  border-bottom: 1px solid #d1d5da;
}
.github-filter__item {
  padding: 20px;
  input {
    font-size: 16px;
    line-height: 20px;
    min-height: 34px;
    padding: 6px 8px;
    vertical-align: middle;
    color: #24292e;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  }
}
// end github-filter

// begin github-title
.github-title {
  border-bottom: 1px solid #d1d5da;
}
.github-title__item {
  padding: 10px 20px;
}
.github-title__title {
  font-weight: 600;
  font-style: italic;
}
// end github-title

.github-body {
  display: flex;
}

// begin github-rep
.github-rep {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 20px;
}
.github-rep__ava {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border: 1px solid #d1d5da;
  border-radius: 50%;
  background-image: url('./img/github.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  &--JavaScript {
    background-image: url('./img/js.jpg');
  }
  &--CSS {
    background-image: url('./img/css.jpg');
  }
  &--HTML {
    background-image: url('./img/html.jpg');
  }
  &--PHP {
    background-image: url('./img/php.jpg');
  }
  &--PYTHON {
    background-image: url('./img/python.jpg');
  }
}
.github-rep__title {
  font-weight: 600;
  margin-right: 10px;
}
.github-rep__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 30px;
  height: 30px;
  margin-left: auto;
  transition: .5s;
  border: 1px solid #d1d5da;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  svg {
    transition: fill .5s;
  }
}
.github-body__left {
  border-right: 1px solid #d1d5da;
  border-bottom: 1px solid #d1d5da;

  .github-rep__btn {
    background-color: #28a745;
    svg {
      fill: #fff;
      transform: rotate(45deg);
    }
  }
}
.github-body__right {
  border-bottom: 1px solid #d1d5da;

  .github-rep__btn {
    background-color: #cb2431;
    svg {
      fill: #fff;
    }
  }
}
// end github-rep

// begin github__footer
.github__footer {
  padding: 20px;
}
// end github__footer
