{{#each repositoriesList}}
  <!-- begin github-rep -->
  <div class="github-rep" data-id="{{ id }}" >
    <span class="github-rep__ava github-rep__ava--{{ language }}"></span>

    <h3 class="github-rep__title">{{ name }}</h3>

    <button class="github-rep__btn">
      <svg width="12" height="16">
        <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path>
      </svg>
    </button>
  </div>
  <!-- end   github-rep -->
{{/each}}
